@page "/ciclos"
@rendermode InteractiveServer

<h3>Ciclos</h3>

<div class="container">

    <label for="txtEdad">Edad: </label>
    <input id="txtEdad" type="number" @bind="_valorCiclo" />

    <button class="btn btn-primary" @onclick="Saludar">Saludar</button>
</div>

    @* <ul>
        @while(_indice < _valorCiclo)
        {
           <li>Valor del ciclo: @_indice</li>
            _indice++;
        }
    </ul> *@

    <hr/>

    @((MarkupString)letrero /*Renderiza lo que contenga la cadena*/) 
@code {
    private int _valorCiclo, _indice, _edad;
    private bool _mostrar = false;
    private string letrero = "" ;

    private void Saludar()
    {
        _indice = 0;
        letrero = "<ul class='mt-3'>";
        while(_indice < _valorCiclo)
        {
            letrero += $"<li>Valor del ciclo: {_indice}</li>";
            _indice++;

        }
        letrero += "</ul>";


        // do
        // {
        //     letrero += $"<li>Valor del ciclo: {_indice}</li>";
        //     _indice++;

        // } while (_indice < _valorCiclo);
        // letrero += "</ul>";

    }
}
