@page "/conversor"
@rendermode InteractiveServer
<h3>Conversor</h3>

<div class="container">
    <label for="txtPesos">Pesos Mexicanos: </label>
    <input id="txtPesos" @bind="pesos" />
    <button class="btn btn-primary" @onclick="conversion">Calcular cambio</button>

    <p>Dolares el 21/03/2026: @dolar</p>
    <p>Euros el 21/03/2026: @euro</p>
    <p>Libras esterlinas el 21/03/2026: @libra</p>
</div>

@code {
    [Parameter]
    public float pesos { get; set; }
    double dolar;
    double euro;
    double libra;

    private void conversion() 
    {
        const double _dolar = 0.056;
        const double _euro = 0.048;
        const double _libra = 0.042;
        dolar = pesos * _dolar;
        euro = pesos * _euro;
        libra = pesos * _libra;
    }
}
