@page "/mi_historia"
<h3>Mi Historia</h3>

<div class="card-group">

    <div class="card text-white bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/3052450/capsule_616x353.jpg?t=1739300850" alt="Juego favorito del momento" />
        <div class="card-body">
            <h5 class="card-title">Morimens</h5>
            <p class="card-text">Es mi juego favorito del momento</p>
        </div>
    </div>


    <div class="card text-white bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="https://wallpapers.com/images/featured/terraria-9jnp0hmkf1tqc0l2.jpg" alt="Juego favorito en general" />
        <div class="card-body">
            <h5 class="card-title">Terraria</h5>
            <p class="card-text">Es mi juego favorito en general</p>
        </div>
    </div>


</div>

<div class="card-group">

    <div class="card  text-white bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="https://fallinginreverse.com/cdn/shop/files/socialshare-godweapon.jpg?v=1747750626" alt="Banda favorita" />
        <div class="card-body">
            <h5 class="card-title">Falling in reverse</h5>
            <p class="card-text">Es mi banda favorita</p>
        </div>
    </div>

    <div class="card  text-white bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="Crochet.png" alt="Trabajo" />
        <div class="card-body">
            <h5 class="card-title">Crochet</h5>
            <p class="card-text">Es mi trabajo independiente</p>
        </div>
    </div>

</div>
    